<body style="background-color:#f5decf;" >
    <div class="col">
        <a href="/home"> Back to homepage</a>
    </div>
<h1>
    About the developers
</h1>
<ul>
    <li> Aarti Jain</li>
</ul>
</body>
