<body style="background-color:#f5decf;" >
    <h1>Welcome to the Movie Wishlist App!</h1>
    <hr style="width: 80%; margin-left: 150px;">
    <div class="center-forms">
                <div class="col-sm-5">
                    <h2>Login</h2>
                    <form method="post" action="/login">
                        Username: <input type="text" autocomplete="username" name="username"><br>
                        Password: <input type="password" autocomplete="passphrase" name="passphrase"><br>
                        <input type="submit" value="login">
                    </form>
                </div>
                <div class="col-sm-5" style="padding-bottom: 25px;"> 
                    <h2>Signup</h2>
                    <form method="post" action="/signup">
                        Username: <input type="text" autocomplete="username" name="username"><br>
                        Password
                           <input type="password" autocomplete="passphrase" name="passphrase"><br>
                        Password Confirmation:
                            <input type="password" name="passphrase2"><br>
                        <input type="submit" value="signup">
                    </form>
                </div>
   
    </div>
<div class="image-login">
    <img src="images/movie_image.png" width="35%">
</div>
</body>

