<style>
    h1 {text-align: center;}
    h3 {text-align: center;}
    p {text-indent: 100px}
    .center {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        }
    .image{
        position: absolute;
        margin-left: 480px;
        bottom: 40px;    
    }
</style>
<body style="background-color:#f5decf;" >
    <h1>Welcome to the movie app!</h1>
    <hr width="40%">
    <div class="center">
                <div class="col-sm-5">
                    <h2>Login</h2>
                    <form method="post" action="/login">
                        Username: <input type="text" autocomplete="username" name="username"><br>
                        Password: <input  type="password" autocomplete="passphrase" name="passphrase"><br>
                        <input type="submit" value="login">
                    </form>
                </div>
                OR
    <div id="signup_table">
                <div class="col-sm-5">
                    <h2>Signup</h2>
                    <form method="post" action="/signup">
                        Username: <input type="text" autocomplete="username" name="username"><br>
                        Password
                           <input type="password" autocomplete="passphrase" name="passphrase"><br>
                        Password Confirmation:
                            <input type="password" name="passphrase2"><br>
                        <input type="submit" value="signup">
                    </form>
                </div>
    </div>
   
</div>
<div class="image">
    <img src="images/movie_image.png" width="40%">
</div>
</body>

