<form method="post" action="/addMovie">
    <div class="row">
        <div class="col bg-warning p-5 m-5">
            Enter the name of the movie: <input type="text" name="movie_name"><br>
            Enter the year it was released: <input type="text" name="year_released"><br>
            Enter the director: <input type="text" name="movie_director"><br>
            <div class="col bg-info p-5">
                <input type="submit" value= "Enter your cat in the photo contest" class="btn btn-lg btn-danger" class="mt-5">
            </div>
        </div>
    </div>
</form>